body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.table input {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  font-size: 16px;
  height: 20px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
}

.error {
  font-weight: 500;
  color: red;
  padding-bottom: 10px;
}
.timestamp {
  padding-bottom: 10px;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}

.questionnaire {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
}



.questionnaire label {
  width: 100%;
  float: left;
}
.questionnaire input {
  width: 50%;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

.submitquestionnaire {
  width: 150px !important;
}
.questionnaireresult {
  font-weight: 600;
}

.practitioner {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.practitionercard {
  width: 90%;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}
.practitionercard img {
  float: left;
}
.practitionercard button {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.deleteconfirm {
  padding: 10px
}